
body{
    background:
    linear-gradient(to right, #ffffff 50%, rgba(229,229,229,0.41) 50%);
}
for{
   margin-top:12px;
}

h1{
    font-size: 25px;
    width: 557px;
    height: 108px;
    Top: 230px;
    font-family: open-sans;
    Left: 86px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    paragraph-spacing: 10px;
    letter-spacing: 0%;
    color: blue;
    
}
h2{
    width:87px;
    height: 35px;
    Top:86px;
    Left: 86px;
    font-weight: 700;
    size:30px;
    line-height:100%;
    color:blue;
    font-family: Roboto;
    letter-spacing: 0%;

}
h3{
    width: 362px;
    height: 21px;
    Top: 366px;
    Left: 86px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0,0 ,0.6);
}
.rem h5 {
    width: 118px;
    height: 21px;
    Left: 86px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0,0 ,0.61);

}
.for h5 {
    width: 145px;
    height: 21px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0,0 ,0.61);

}


.form-container {
  width: 320px;
}

.section-label {
  display: block;
  color: #6a5acd;
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 600;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-size: 13px;
  color: #666;
  margin-bottom: 4px;
}

.field input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 6px 2px;
  font-size: 14px;
  outline: none;
}

.field input:focus {
  border-bottom-color: #6a5acd;
}

.field input[type="email"] {
  color: #1a73e8;
}
nav
{
    text-align: right;
    
    font:20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 30px;
    margin-right: 70px;
    margin-top: 60px;
   
    
    

}
nav a{
    text-decoration: none;
    color:#5c5a5a;
     Top: 400px;
    Left: 860px;
    
}
.pic {
    position: absolute;
    top: 210px;     
   
    left: 700px;  
}

.pic img {
    width: 800px;    
    height: 428px;
    text-align: right;
}
body div {
   margin-left: 10px;
}
.options {
  width: 320px;
  display: flex;
  justify-content: space-between;
  color: rgba(76, 74, 74, 0.6);
  margin-top: 10px;
}

 .forgot {
  cursor: pointer;
}
nav a:hover{
    color: black;

}
nav .home a{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
 .last{
  display:flex;
  justify-content: space-between;
  width:320px;
  color:blue;
}
p.login{
    color:rgba(19, 17, 17, 0.6);
}
 @media (max-width: 768px) {
    .pic{
      max-width: 600px;
    }
  }

  /* Small screens (phones) */
  @media (max-width: 480px) {
    .pic {
      max-width: 100%;
      padding: 0 10px; /* add a little padding on mobile */
    }
  }